<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {$if eq .faviconFileId 0}
        <link rel="shortcut icon" href="/images/favicon.png"/>
    {$else}
        <link rel="shortcut icon" href="/ui/image/{$ .faviconFileId}"/>
    {$end}
    <title>激活邮箱 - {$.systemName}</title>
  <script type="module" crossorigin src="/views/assets/app-D_BkdPPb.js"></script>
  <link rel="modulepreload" crossorigin href="/views/assets/app-DjYJfrF8.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-C1XH7PtB.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-__35K3dS.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-C6feLE3_.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-CMrnp7LG.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-CMoUOWYK.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-BOdfUA0H.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-DbdLQ04Q.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-FYI4UQYe.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-uEDbJdNm.js">
  <link rel="stylesheet" crossorigin href="/views/assets/app-Cj4MJwcP.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-oxqwJ6xj.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-DetJGSZ9.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-BdZDnIc0.css">
</head>
<body>
<div id="app"></div>
</body>
</html>