<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {$if eq .faviconFileId 0}
    <link rel="shortcut icon" href="/images/favicon.png"/>
    {$else}
    <link rel="shortcut icon" href="/ui/image/{$ .faviconFileId}"/>
    {$end}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
  <script type="module" crossorigin src="/views/assets/app-HV969SHe.js"></script>
  <link rel="modulepreload" crossorigin href="/views/assets/app-DjYJfrF8.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-C1XH7PtB.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-aLcLkhX7.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-PXD802g2.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-CXb0aRmx.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-Cu5XYzXJ.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-DA-qpgNO.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-zaKueCu1.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-BsrZGiqM.js">
  <link rel="modulepreload" crossorigin href="/views/assets/app-D58jrwx3.js">
  <link rel="stylesheet" crossorigin href="/views/assets/app-Cj4MJwcP.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-DvdUnIip.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-DElF0yVH.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-BGXm5aDP.css">
  <link rel="stylesheet" crossorigin href="/views/assets/app-DB6NJUQb.css">
</head>
<body>

<div id="app"></div>

</body>
</html>